<div class="panel panel-default">
    <div class="panel-heading">Employees Information</div>
    <div class ="table-responsive">
        <table class="table table-condensed">
          <tr>
            <th>Name</th>
            <th>Personal #</th>
            <th>Work #</th>
            <th>Email Address</th>
            <th></th>
          </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.personal_phone %></td>
            <td><%= user.work_phone %></td>
            <td><% if user.email.include? "none" %>
            		
            	<% else	%>
            		<%= user.email %>
            	<% end %></td>
            <td><%= link_to 'Show', user %></td>
          </tr>
        <% end %>
        </table>
    </div>
</div>
<br />
