<!DOCTYPE html>
<html>
<head>
  <title>ToolLIST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
  </script>

  <%= csrf_meta_tags %>
</head>
<body>
	<p>
	  <% if mobile_device? %>
	    <%= link_to "Full Site", :mobile => 0 %>
	  <% else %>
	    <%= link_to "Mobile Site", :mobile => 1 %>
	  <% end %>
	</p>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%=  flash_class type %>">
				<button class="close" data-dismiss="alert">&times;</button>
				<%= message %>
			</div>
		<% end %>
		
		<%= yield %>

	</div>

</body>
</html>
